:root{
    --primary-color: #FF6384;
    --secondary-color: #36A2EB;
    --tertiary-color: #FFCE56;
    --background-color: #F5F5F5;
    --text-color: #333333;
    --navbar-color: #6C757D;
    --button-color: #4CAF50;
    --button-text-color: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.navbar .navbar-expand-lg .bg-body-tertiary{
    background-color: var(--primary-color);
    box-shadow: var(--text-color) 0rem 0rem 2rem;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 6rem);
    background-color: var(--text-color);
}

.calculadora-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    width: 45rem;
    height: 45rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: var(--background-color) 0rem 0rem 1rem;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    background-color: var(--background-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50%;
    border-radius: 1rem;
    padding: 0;
    box-shadow: var(--text-color) 0rem 0rem .5rem;
}

.display-results{
    font-size: 3rem;
    padding: 0;
    margin: 0;
    text-align: right;
    width: 100%;
    height: 75%;
    border-radius: 1rem 1rem 0 0;
}

.display-input{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50%;
    border: none;
    font-size: 3rem;
    text-align: right;
    padding-right: .5rem;
}


.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: 75%;
}

.numbers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
}

.operations-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.btn{
    width: 100%;
    font-size: 2rem;
    font-weight: bold;

}